# Copy and paste to new .env file
# Public API: https://northseattlecollegeevents.com/api
# Dev API: http://localhost:3001/api  
# Ensure local API port value matches with Nest.js app.listen port value
API_URL=http://localhost:3001/api