/* Creator page CSS */
.container {
    background-color: #bec3c8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button {
    background-color: #08469F;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    margin: 20px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.3);
}

.button:hover {
    background-color: white;
    color:#08469F;
  }