/* Home page CSS */
.container {
  /*background-color: #bec3c8;*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcomeContainer {
  /*background-color: #bec3c8;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.eventContainer {
  /*background-color: #bec3c8;*/
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.homeEventsList {
  display: flex;
  flex: 1;
  padding-left: 33vh;
}

.upcomingEvent {
  display: flex;
  flex: 1;
  padding-left: 4vh;
}

.formContainer {
  /*background-color: #dbdfe0;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 15px;
  width: 800px;
  margin-bottom: 10vh;
}

.logoContainer {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}