/* Sign Up page CSS */
.container {
  background-color: #bec3c8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContainer {
  background-color: #dbdfe0;
  padding: 2rem;
  border-radius: 15px;
  width: 400px;
  max-width: 100%;
  margin-bottom: 20vh;
}

.title {
  text-align: center;
  color: #101c29;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.submitButton {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  color: #f0f0f0;
  background-color: #101c29;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  margin: 1.5rem 0;
  transition: background-color 0.3s ease-in-out;
}

.submitButton:hover {
  background-color: #0c141c;
}

.textCenter {
  text-align: center;
  color: #101c29;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.link {
  color: #101c29;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}