/* Sign Up page CSS */
.container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.formContainer {
  background-color: #08469f;
  padding: 2rem;
  border-radius: 15px;
  width: 400px;
  max-width: 100%;
  max-height: calc(100vh - 4rem);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.6);
  margin-bottom: 2rem;
}

.title {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.inputField {
  color: #000;
}
.submitButton {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  color: #000;
  background-color: #95ca59;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 0;
  transition: background-color 0.3s ease-in-out;
  border: 0.3cap solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.3);
}

.submitButton:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: #fff;
  color: #95ca59;
}

.textCenter {
  text-align: center;
  color: #101c29;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.link {
  color: #101c29;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.imageWrapper {
  background-color: white;
  display: inline-block;
  padding: 1em;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-height: 800px) { 
  .imageWrapper {
    display: none;
  }
}