# Pull request workflow to run CI on PRs.
# Triggered on opened or reopened pull requests.
# Defines one job that reuses the ci.yml workflow.
# ci.yml will run lint, tests, coverage, build for the PR.

name: CI (on pull-request)
run-name: PR from branch ${{ github.ref }}

# Will run CI workflow on an opened or reopened PR for easy reference. For compilation, unit tests, code coverage etc.
on:
  pull_request:
    types: [opened, reopened]
jobs:
  Continuous-Integration:
    name: on pull request
    uses: ./.github/workflows/ci.yml


  set_status_check:
    runs-on: ubuntu-latest
    steps:
      - name: Set GitHub Status Check
        run: |
          curl -X POST \
          -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/repos/SeattleColleges/nsc-events-nextjs/statuses/${{ github.sha }} \
          -d '{
            "state": "success",
            "context": "ci.yml",
            "description": "CI passed",
            "target_url": "https://github.com/SeattleColleges/nsc-events-nextjs/actions/runs/${{ github.run_id }}"
          }'
